.app {
  background-color: #131112;
  min-height: 100vh;
  color: #fff;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.main-content {
  text-align: center;
  display: grid;
}

.input-item {
  width: 100%;
  background: transparent;
  border: 2px solid #000;
  resize: none; 
  color: #fff;
}

.input-item {
  width: 100%;
  background: #000;
  border: 2px solid #222;
  resize: none;
  color: #fff;
  font-family: sans-serif;
  padding: 10px;
  font-size: 1rem;
  height: 90px;
}

.add-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 0;
}

@media only screen and (min-width: 968px) {
  .container {
    width: 960px;
  }
  .main-content {
    justify-items: center;
    text-align: initial;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
